<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Store</title>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/profile.css">
</head>

<body>
  <%- include('../partials/header') %>


  <main>
    <div class="container">
      <h1>Your Profile</h1>
      <!-- Display current profile image -->
      <div class="profile-image-container">
        <img id="profileImage" src="/images/users/<%= properties.userId %>.jpg" alt="Profile Image"
          class="profile-image" onerror="this.onerror=null; this.src='/images/users/profileLogo.jpg';">

      </div>



      <!-- Form to edit profile and upload a new image -->
      <div class="edit-profile-form">
        <form action="/users/profile/update" method="POST" enctype="multipart/form-data">
          <input type="hidden" id="userId" name="userId" value="<%= user._id %>" required>

          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="<%= user.name %>" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= user.email %>" required>

          <label for="address">Address:</label>
          <input type="text" id="address" name="address" value="<%= user.address %>" required>

          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone" value="<%= user.phone %>" >

          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="male" <%= user.gender === 'male' ? 'selected' : '' %>>Male</option>
            <option value="female" <%= user.gender === 'female' ? 'selected' : '' %>>Female</option>
            <option value="no-answer" <%= user.gender === 'no-answer' ? 'selected' : '' %>>No Answer</option>
        </select>
<br><br>
          <label for="profileImage">Profile Image:</label>
          <input type="file" id="editProfileImage" name="profileImage" accept="image/*">


          <button type="submit">Update Profile</button>
        </form>
      </div>

      <a href="/users/logout">Logout</a>
    </div>
  </main>

</body>

</html>